body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  body {
    background-color: powderblue;
  }
  h2 {
    color: rgb(22, 11, 27);
  }
  p {
    color: red;
  }
  h4 {
    color: rgb(159, 64, 202);
  }
  p {
    color: red;
  }